In [15]:
import re
import pandas as pd

1. #to replace oucrrance of space comma and dot

In [40]:
text = 'Python Exercises, PHP exercises.'
result = re.sub(r'[ ,.]', ':', text)
print(result)

Python:Exercises::PHP:exercises:

2. #create a dataframe using dictonary given below

In [17]:
data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)

def clean_text(text):
    return re.sub(r'[^a-zA-Z\s]', '', text)

df['SUMMARY'] = df['SUMMARY'].apply(clean_text)
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

3. #to find all words

In [18]:
def find_words(text):
    pattern = re.compile(r'\b\w{4,}\b')
    return pattern.findall(text)

text = "This is a test string with several longwords"
print(find_words(text))

['This', 'test', 'string', 'with', 'several', 'longwords']

4. #find 3 4 5 character words in a string

In [19]:
def find_specific_length_words(text):
    pattern = re.compile(r'\b\w{3,5}\b')
    return pattern.findall(text)

text = "This is a test string with several longwords"
print(find_specific_length_words(text))

['This', 'test', 'with']

5. #to remove parenthesis

In [20]:
def remove_parenthesis(texts):
    pattern = re.compile(r'\s?\(.*?\)')
    return [pattern.sub('', text) for text in texts]

sample_texts = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
print(remove_parenthesis(sample_texts))

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

7. #to split a string into uppercase

In [21]:
def split_uppercase(text):
    pattern = re.compile(r'(?=[A-Z])')
    return pattern.split(text)

sample_text = "ImportanceOfRegularExpressionsInPython"
print(split_uppercase(sample_text))

['', 'Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

8. #insert space between words starting numbers

In [22]:
def insert_spaces_numbers(text):
    pattern = re.compile(r'(\d)')
    return pattern.sub(r' \1', text)

sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
print(insert_spaces_numbers(sample_text))

RegularExpression 1IsAn 2ImportantTopic 3InPython

9. #insert space between words starting capital letters

In [23]:
def insert_spaces_numbers_and_caps(text):
    pattern = re.compile(r'(?=[A-Z0-9])')
    return pattern.sub(r' ', text)

sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
print(insert_spaces_numbers_and_caps(sample_text))

 Regular Expression 1 Is An 2 Important Topic 3 In Python

10. #to create a dataframe

In [24]:
url = 'https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv'
df = pd.read_csv(url)

df['first_six_letters'] = df['Country'].str[:6]
print(df[['Country', 'first_six_letters']].head())

       Country first_six_letters
0  Switzerland            Switze
1      Iceland            Icelan
2      Denmark            Denmar
3       Norway            Norway
4       Canada            Canada

11. #to match a string

In [25]:
def match_string(text):
    pattern = re.compile(r'^\w+$')
    return bool(pattern.match(text))

sample_text = "Valid_String_123"
print(match_string(sample_text))

True

12. #where string starts with specific number

In [26]:
def starts_with_number(text):
    pattern = re.compile(r'^\d')
    return bool(pattern.match(text))

sample_text = "123StartWithNumber"
print(starts_with_number(sample_text))

True

13. #to remove leading zeors from ip address

In [27]:
def remove_leading_zeros(ip):
    pattern = re.compile(r'\b0+(\d)')
    return pattern.sub(r'\1', ip)

sample_ip = "192.168.001.001"
print(remove_leading_zeros(sample_ip))

192.168.1.1

15. #to search some literals strings in string

In [30]:
def search_literals(text, words):
    return [word for word in words if word in text]

sample_text = 'The quick brown fox jumps over the lazy dog.'
search_words = ['fox', 'dog', 'horse']
print(search_literals(sample_text, search_words))

['fox', 'dog']

16. #to search literal string in string and also location within original string

In [31]:
def search_and_find_location(text, word):
    pattern = re.compile(word)
    match = pattern.search(text)
    return match.start() if match else -1

sample_text = 'The quick brown fox jumps over the lazy dog.'
search_word = 'fox'
print(search_and_find_location(sample_text, search_word))

16

17. #to substrings within a string

In [32]:
def find_substrings(text, pattern):
    compiled_pattern = re.compile(pattern)
    return compiled_pattern.findall(text)

sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
print(find_substrings(sample_text, pattern))

['exercises', 'exercises', 'exercises']

19. #to convert a date of yyyy-mm-dd format to dd-mm-yyyy format

In [33]:
def convert_date_format(date):
    return re.sub(r'(\d{4})-(\d{2})-(\d{2})', r'\3-\2-\1', date)

sample_date = '2024-07-04'
print(convert_date_format(sample_date))

04-07-2024

20. #to find all decimal number

In [34]:
def find_decimal_numbers(text):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    return pattern.findall(text)

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
print(find_decimal_numbers(sample_text))

['01.12', '145.8', '3.01', '27.25', '0.25']

21. #to seperate and print the number and their position of given string

In [35]:
def separate_numbers_positions(text):
    pattern = re.compile(r'\d+')
    return [(match.group(), match.start()) for match in pattern.finditer(text)]

sample_text = "Sample123Text456With789Numbers"
print(separate_numbers_positions(sample_text))

[('123', 6), ('456', 13), ('789', 20)]

22. #to exract maximum and largest numeric value from the string

In [36]:
def extract_max_value(text):
    pattern = re.compile(r'\d+')
    numbers = pattern.findall(text)
    return max(map(int, numbers))

sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
print(extract_max_value(sample_text))

950

23. #insert spaces between words starting with capital letters

In [37]:
def insert_spaces_caps(text):
    pattern = re.compile(r'(?=[A-Z])')
    return pattern.sub(r' ', text)

sample_text = "RegularExpressionIsAnImportantTopicInPython"
print(insert_spaces_caps(sample_text))

 Regular Expression Is An Important Topic In Python

24. #to find sequences of one upper case letter followed by lower case letter

In [38]:
def match_upper_followed_by_lower(text):
    pattern = re.compile(r'\b[A-Z][a-z]+\b')
    return pattern.findall(text)

sample_text = "Hello World This Is A Test String"
print(match_upper_followed_by_lower(sample_text))

['Hello', 'World', 'This', 'Is', 'Test', 'String']

25. #to remove continues duplicate words from sentence using regular expression

In [39]:
def remove_continuous_duplicates(text):
    pattern = re.compile(r'\b(\w+)\s+\1\b')
    return pattern.sub(r'\1', text)

sample_text = "Hello hello world world"
print(remove_continuous_duplicates(sample_text))

Hello hello world